.ui-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;

  }

.control-row {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  width: 350px;
  border-radius: 8px;
  padding: 12px;
  background: white;
  transition: all 0.2s ease;

  ::ng-deep input[ffFormControl] {
    flex: 1;
    border: transparent;
    outline: transparent;
    background-color: transparent;
    font-size: 16px;
    color: #333;

    &::placeholder {
      color: #999;
    }
  }
}
