<div class="container">
  <form class="form" [formGroup]="form">

    <app-form-field>
      <ff-label for="login">Имя</ff-label>
      <ff-prefix>👤</ff-prefix>
      <input ffFormControl id="login" formControlName="name" type="text"/>
      <ff-hint>Введите ваше имя полностью</ff-hint>

      @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
        <ff-error>Поле обязательно</ff-error>
      }
      @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched && form.get('name')?.dirty) {
        <ff-error>Минимум 3 символа</ff-error>
      }
    </app-form-field>

    <app-form-field>
      <ff-label for="email">Email</ff-label>
      <input ffFormControl id="email" formControlName="email" type="email"/>
      <ff-suffix>mail.com</ff-suffix>

      @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
        <ff-error>Поле обязательно</ff-error>
      }
      @if (form.get('email')?.hasError('email') && form.get('email')?.touched && form.get('email')?.dirty) {
        <ff-error>Некорректный email</ff-error>
      }
    </app-form-field>

    <button class="btn" type="submit" [disabled]="form.invalid">Отправить</button>

  </form>
</div>
